<div class="modal-header">
  <h3 class="modal-title" translate>Checkout</h3>
  <button class="close" ng-click="ICModalController.close()">
    <span class="icon icon-cross"></span>
  </button>
</div>
<div class="modal-body">
  <div class="instant-checkout-modal">
    <!-- insert checkout iframe -->
    <div ng-if="ICModalController.ready">
      <div compile="ICModalController.checkoutSnippet"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="button" type="button"
    ng-if="ICModalController.showCancelButton"
    ng-click="ICModalController.cancel()" translate>Cancel</button>
  <button class="button" type="button"
    ng-if="ICModalController.showCloseButton"
    ng-click="ICModalController.close()" translate>Close</button>
</div>
