.sizeguide {
  margin: auto;
  max-width: 400px;
  padding-top: 20px;

  table {
    margin-top: 15px;

    strong {
      font-weight: bold;
    }

    caption {
      font-weight: bold;
      text-align: left;
    }
  }
}
