<admin-category-change-order-product-listing
  products = "category.data.products"
  ng-if = "category.adminConfig.isChangeOrderMode"
  start-index = "category.startIndex"
  total-visible = "category.totalVisible">
</admin-category-change-order-product-listing>

<admin-category-set-color-product-listing
  products = "category.data.products"
  ng-if = "category.adminConfig.isSetColorMode"
  start-index = "category.startIndex"
  total-visible = "category.totalVisible">
</admin-category-set-color-product-listing>
