<div class="image-content">
  <div class="bg-left blur"></div><!--
  --><div class="bg-right blur"></div>
  <div class="scImage first">
    <img id="firstSc" ng-src="{{creator.styleImageTwo.front}}" alt="">
    <img id="firstSc" ng-src="{{creator.styleImageTwo.back}}" alt="">
  </div>
  <div class="scImage second" ng-class="{fadeIn: !creator.fadeIn}">
    <img class="styleimage" id="secondSc" ng-src="{{creator.styleImage.front}}" alt="">
    <img class="styleimage" id="secondScBack" ng-src="{{creator.styleImage.back}}" alt="">
  </div>
</div>
