<div id="delivery" ng-controller="DeliveryController as delivery">
	<div class="overlay">
		<div class="delivery">
			<div class="intro">
				<h2 translate>Place of delivery</h2>
				<p translate>We’ve chosen the closest pickup location for you but you may freely choose on your own.</p>
			</div>
			<div class="scroller">
				<div class="object">
					<div class="text">
						<h4 translate>Home</h4>
						<p >Hjortmossegatan 126</p>
						<p>46151, Trollhättan</p>
					</div>
					<span class="button button-small bg-blue">
						<img src="https://ridestore.imgix.net/upload/nabil/delivery-posti.png?w=30&dpr={{delivery.dpi}}"></span>
					</span>
				</div>
				<div class="object">
					<div class="text">
						<h4>OKQ8</h4>
						<p>Hjortmossegatan 126</p>
						<p>46151, Trollhättan</p>
					</div>
					<span class="button button-small bg-blue">
						<img src="https://ridestore.imgix.net/upload/nabil/delivery-posten.png?w=30&dpr={{delivery.dpi}}"></span>
					</span>
				</div>
				<div class="object">
					<div class="text">
						<h4>Hemköp Hjortmossen</h4>
						<p>Hjortmossegatan 126</p>
						<p>46151, Trollhättan</p>
					</div>
					<span class="button button-small bg-blue">
						<img src="https://ridestore.imgix.net/upload/nabil/delivery-dhl.png?w=30&dpr={{delivery.dpi}}"></span>
					</span>
				</div>
				<div class="object">
					<div class="text">
						<h4>Hemköp Hjortmossen</h4>
						<p>Hjortmossegatan 126</p>
						<p>46151, Trollhättan</p>
					</div>
					<span class="button button-small bg-blue">
						<img src="https://ridestore.imgix.net/upload/nabil/delivery-dhl.png?w=30&dpr={{delivery.dpi}}"></span>
					</span>
				</div>
				<div class="object">
					<div class="text">
						<h4>Hemköp Hjortmossen</h4>
						<p>Hjortmossegatan 126</p>
						<p>46151, Trollhättan</p>
					</div>
					<span class="button button-small bg-blue">
						<img src="https://ridestore.imgix.net/upload/nabil/delivery-dhl.png?w=30&dpr={{delivery.dpi}}"></span>
					</span>
				</div>
			</div>
			<div class="bottom">
				<a class="button button-full bg-blue" translate>Finish</a>
			</div>
		</div>
	</div>
</div>
