<!-- UI BUTTONS -->
<div class="temp">
	<h2 class="temp">.button</h2>
	<a class="button bg-blue"><span class="icon icon-cart-add"></span>899 sek</a>
</div>

<div class="temp">
	<h2 class="temp">.button.button-greyed</h2>
	<a class="button button-greyed"><span class="icon icon-delete"></span>Remove</a>
</div>

<div class="temp">
	<h2 class="temp">.button.button-small</h2>
	<a class="button button-small bg-blue">Follow</a>
</div>

<div class="temp">
	<h2 class="temp">.button.button-small.button-greyed</h2>
	<a class="button button-small button-greyed">Unfollow</a>
</div>

<div class="temp">
	<h2 class="temp">.button.button-circular</h2>
	<a class="button button-circular bg-green"><span class="icon icon-search"></span></a>
</div>

<div class="temp dark">
	<div class="scroll-indicator">
		<div class="scroll-wheel">
			<div class="wheel"></div>
			<div class="pointer"></div>
		</div>
	</div>
</div>