<!-- UI FORMS -->
<div class="ui-forms">
	<form>
		<input type="text" placeholder="Name">
		<input type="number" placeholder="Number">
		<input type="password" placeholder="Password" value="Ridestore">
		<textarea placeholder="Message"></textarea>
		<a class="button bg-blue" href="#" >Send message</a>
	</form>
</div>

<form>
	<label>
		<div class="checkbox">
			Adidas
			<input type="checkbox" name="checkbox" value="value">
			<div><span></span></div>
		</div>
	</label>
	<label>
		<div class="checkbox selected">
			Nike
			<input type="checkbox" name="checkbox" value="value">
			<div><span></span></div>
		</div>
	</label>
	<label>
		<div class="checkbox">
			Puma
			<input type="checkbox" name="checkbox" value="value">
			<div><span></span></div>
		</div>
	</label>
	<label>
		<div class="checkbox selected">
			Ralph Lauren
			<input type="checkbox" name="checkbox" value="value">
			<div><span></span></div>
		</div>
	</label>
</form>
