<!-- UI BARS -->

<!-- nav dark -->
<nav class="bar bar-dark bg-dark-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-menu"></span>
		</a>
		<a href="" class="text">
			<img class="logo" srcset="https://ridestore.imgix.net/ridestore_logo/logo_white.png?w=84 1x,
          https://ridestore.imgix.net/ridestore_logo/logo_white.png?w=84&dpr=2 2x,
          https://ridestore.imgix.net/ridestore_logo/logo_white.png?w=84&dpr=3 3x"
          src="https://ridestore.imgix.net/ridestore_logo/logo_white.png?w=84">
		</a>
	</div>
	<div class="right inline-block">
		<a href="">
			<span class="icon icon-search"></span>
		</a>
		<a href="">
			<span class="icon icon-heart"></span>
		</a>
		<a href="">
			<span class="icon icon-cart"></span>
		</a>
	</div>
</nav>

<!-- nav light  -->
<nav class="bar bar-light bg-light-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-menu"></span>
		</a>
		<a href="" class="text">
			<img class="logo" srcset="https://ridestore.imgix.net/ridestore_logo/logo_dark.png?w=84 1x,
          https://ridestore.imgix.net/ridestore_logo/logo_dark.png?w=84&dpr=2 2x,
          https://ridestore.imgix.net/ridestore_logo/logo_dark.png?w=84&dpr=3 3x"
          src="https://ridestore.imgix.net/ridestore_logo/logo_dark.png?w=84">
		</a>
	</div>
	<div class="right inline-block">
		<a href="">
			<span class="icon icon-search"></span>
		</a>
		<a href="">
			<span class="icon icon-heart"></span>
		</a>
		<a href="">
			<span class="icon icon-cart"></span>
		</a>
	</div>
</nav>

<!-- nav dark + text -->
<nav class="bar bar-dark bg-dark-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-previous"></span>
		</a>
		<a href="" class="text">
			<h2>Escorts</h2>
		</a>
	</div>
	<div class="right inline-block">
		<a href="" class="button button-small bg-green">Order</a>
	</div>
</nav>

<!-- nav light + text  -->
<nav class="bar bar-light bg-light-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-previous"></span>
		</a>
		<a href="" class="text">
			<h2>Escorts</h2>
		</a>
	</div>
	<div class="right inline-block">
		<a href="" class="button button-small bg-blue" >Order</a>
	</div>
</nav>
<!-- scrollnav dark -->
<nav class="bar bar-dark scrollable bg-dark-translucent">
	<div class="grid grid-scroll">
		<div class="object active">
			<a href="" >All</a>
		</div>
		<div class="object">
			<a href="" >T-shirts</a>
		</div>
		<div class="object">
			<a href="" >Sweaters</a>
		</div>
		<div class="object">
			<a href="" >Tanks</a>
		</div>
		<div class="object">
			<a href="" >Belts</a>
		</div>
		<div class="object">
			<a href="" >Shoes</a>
		</div>
		<div class="object">
			<a href="" >Jackets</a>
		</div>
		<div class="object">
			<a href="" >Skateboards</a>
		</div>
		<span class="active-mark"></span>
	</div>
</nav>
<!-- scrollnav light -->
<nav class="bar bar-light scrollable bg-light-translucent">
	<div class="grid grid-scroll">
		<div class="object active">
			<a href="" >All</a>
		</div>
		<div class="object">
			<a href="" >T-shirts</a>
		</div>
		<div class="object">
			<a href="" >Sweaters</a>
		</div>
		<div class="object">
			<a href="" >Tanks</a>
		</div>
		<div class="object">
			<a href="" >Belts</a>
		</div>
		<div class="object">
			<a href="" >Shoes</a>
		</div>
		<div class="object">
			<a href="" >Jackets</a>
		</div>
		<div class="object">
			<a href="" >Skateboards</a>
		</div>
		<span class="active-mark"></span>
	</div>
</nav>

<!-- nav dark + dropdown -->
<nav class="bar bar-dark bg-dark-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-filter"></span>
		</a>
	</div>
	<div class="center">
		<a class="text">
			<h3 >Bleed it <span class="icon-arrow-down"></span></h3>
		</a>
	</div>
	<div class="right inline-block">
		<a href="">
			<span class="icon icon-grid-2"></span>
		</a>
	</div>
</nav>
<!-- nav light + dropdown -->
<nav class="bar bar-light bg-light-translucent">
	<div class="left inline-block">
		<a href="">
			<span class="icon icon-filter"></span>
		</a>
	</div>
	<div class="center">
		<a class="text">
			<h3 >Bleed it <span class="icon-arrow-down"></span></h3>
		</a>
	</div>
	<div class="right inline-block">
		<a href="">
			<span class="icon icon-grid-2"></span>
		</a>
	</div>
</nav>
