<!-- UI IMAGEAREA -->
<!-- Make sure to init the image height JS before
user arrives to a imagearea, if possible -->
<div id="image-area">
	<div class="images">
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3242_1.jpg" alt="">
		</div>
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3242_2.jpg" alt="">
		</div>
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3242_3.jpg" alt="">
		</div>
	</div>
	<ul class="pagination">
		<li class="active"></li>
		<li></li>
		<li></li>
	</ul>
</div>