<!-- UI LIST -->
<!-- Add .bg-dark for dark backgrounds -->
<ul class="list products">
	<li>
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3730_4.jpg" alt="">
		</div>
		<div class="text">
			<div class="block">
				<h3>Stefan Janoski Max L</h3>
				<span class="price">699 SEK</span>
			</div>
			<div class="block">
				<a class="dropdown button button-small button-greyed bg-blue">Medium <span class="icon-arrow-down"></span></a>
			</div>
			<div class="block">
				<span class="color">Black</span>
				<a class="qty">2</a>
			</div>
		</div>
	</li>
	<li>
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3730_4.jpg" alt="">
		</div>
		<div class="text">
			<div class="block">
				<h3>Stefan Janoski Max L</h3>
				<span class="price">699 SEK</span>
			</div>
			<div class="block">
				<a class="dropdown button button-small button-greyed bg-blue">Medium <span class="icon-arrow-down"></span></a>
			</div>
			<div class="block">
				<span class="color">Black</span>
				<a class="qty">2</a>
			</div>
		</div>
	</li>
	<li>
		<div class="image">
			<img src="http://cdnx1.ridestore.com/media/catalog/product/cache/1/image/504x593/9df78eab33525d08d6e5fb8d27136e95/D/3/D3730_4.jpg" alt="">
		</div>
		<div class="text">
			<div class="block">
				<h3>Stefan Janoski Max L</h3>
				<span class="price">699 SEK</span>
			</div>
			<div class="block">
				<a class="dropdown button button-small button-greyed bg-blue">Medium <span class="icon-arrow-down"></span></a>
			</div>
			<div class="block">
				<span class="color">Black</span>
				<a class="qty">2</a>
			</div>
		</div>
	</li>
</ul>