<!-- UI OVERLAYS -->
<div class="overlay">
	<div class="wrap left no-padding">
		<div class="scroller">
			<div class="block no-padding">
				<a class="button button-small bg-blue" >Mens</a>
				<a class="button button-small bg-blue" >Women</a>
				<a class="button button-small bg-blue" >Kids</a>
			</div>
			<div class="block no-padding">
				<ul class="navigation">
					<li>
						<a href="" >Streetwear</a>
					</li>
					<li>
						<a href="" >Moto</a>
					</li>
					<li>
						<a href="" >Snow</a>
					</li>
					<li>
						<a href="" >Skate</a>
					</li>
					<li>
						<a href="" >Bike</a>
					</li>
				</ul>
				<ul class="navigation">
					<li>
						<a href="" >Brands</a>
					</li>
					<li>
						<a href="" >Stylecreator</a>
					</li>
				</ul>
				<ul class="navigation">
					<li>
						<a href="" >Contact & Info</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="foot">
			<div class="user">
				<div class="image">
					<img src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/e15/11333450_694149934045218_765794278_n.jpg?ig_cache_key=MTAwODA0NjE5NDQ3MzY1NzkxNg%3D%3D.2" alt="">
				</div>
				<h4>Ariana Grande</h4>
			</div>
		</div>
	</div>
</div>
