<!-- General UI -->
<div class="grid grid-2">
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/buttons" ><span class="icon icon-checkmark"></span>Buttons</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/forms" ><span class="icon icon-checkmark"></span>Forms</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/header" ><span class="icon icon-checkmark"></span>Bars</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/imagearea" ><span class="icon icon-checkmark"></span>Imagearea</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/list" ><span class="icon icon-checkmark"></span>Lists</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/grids" ><span class="icon icon-checkmark"></span>Grids</a>
		</div>
	</div>
	<div class="object">
		<div class="text">
			<a class="button bg-blue" href="/ui/overlays" >Overlays</a>
		</div>
	</div>
</div>
