<div id="orders" ng-controller="OrdersController as orders">
	<div class="extra_menu" ng-if="orders.list.length > 0">
		<ul>
			<li ng-class="{'bold': orders.status=='' }" ng-click="orders.status=''" translate>All orders</li>
			<li ng-class="{'bold': orders.status=='pending'}" ng-click="orders.status='pending'" translate>In progress</li>
			<li ng-class="{'bold': orders.status=='complete'}" ng-click="orders.status='complete'" translate>Sent</li>
			<li ng-class="{'bold': orders.status=='closed'}" ng-click="orders.status='closed'" translate>Returned</li>
		</ul>
	</div>
	<div class="all_orders" ng-if="orders.list.length > 0">
		<div class="sub_top_menu">
			<div class="dropdown" ng-click="orders.openMenu = true" translate>
				All orders
			</div>
			<div class="search">
				<input type="text" placeholder="{{'Search' | translate}}" ng-model="orders.search">
				<span class="icon-search"></span>
			</div>
		</div>
		<div class="list_orders">
			<table>
				<tr><th translate>Order#</th><th translate>Date</th><th translate>Status</th><th translate>Total</th></tr>
				<tr ng-repeat="(key, value) in orders.list | filter:{ increment_id: orders.search } | filter:{ status: orders.status }">
					<td>{{value.increment_id}}</td>
					<td>{{value.created_at | date:'d MMM, y' }}</td>
					<td><div class="status-circle" ng-class="value.status"></div>{{value.status}}</td>
					<td>{{value.grand_total}}  <a target="_blank" href="
						http://www.ridestore.se/order/#/{{value.entity_id}}/{{value.hash}}"><span class="go-to-order icon-next"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="no-found" ng-if="orders.list.length == 0">
			<translate>You have no orders connected to your number, If some thing is missing please contact our</translate><a href="/contact" translate>support</a>.
	<div>
</div>
