<ul class="list">
  <li>
    <div class="image">
      <span class="icon icon-mail"></span>
    </div><!--
    --><div class="text">
      <h4 translate>Email us</h4>
      <p><a href="mailto:info@ridestore.com">info@ridestore.com</a></p>
    </div>
  </li>
  <li>
    <div class="image">
      <span class="icon icon-phone"></span>
    </div><!--
    --><div class="text">
      <h4 translate>Chat with us</h4>
      <p translate>We have a chat client for ultra fast ask and response.</p>
      <a href="http://app.ridestore.com" class="button button-small bg-blue" translate>Get the app</a>
    </div>
  </li>
  <li>
    <div class="image">
      <span class="icon icon-facebook"></span>
    </div><!--
    --><div class="text">
      <h4 translate>We're on messenger</h4>
      <p><a href="http://m.me/ridestore.se" target="_blank" translate>Chat with messenger</a></p>
    </div>
  </li>
</ul>
